<head>
  {% load static %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Parcourinf</title>
  <link rel="stylesheet" href="{% static 'dsfr.min.css' %}" />
  <link rel="stylesheet" href="{% static 'utility/utility.min.css' %}" />
  <script src="{% static 'dsfr.module.js' %}" defer></script>
</head>
