{% extends 'base.twig' %}
{% load ariane %}

{% block arianeLinks %}
  {% lien_ariane 'Acceuil' %}
{% endblock %}

{% block content %}
  <h1>Bienvenu sur Parcoursinf</h1>
  <h2>Bonne chance les gars</h2>
{% endblock %}
